.botao {
    background-color: #DD7631;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    padding: 16px;
    border: none;
    cursor: pointer;
    margin: 32px 0;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #bb6125
}