.header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  background-color: #191627;
  color: white;
  height: 100px;
}

.light-text {
  font-weight: 300;
}

.bold-text {
  font-weight: 700;
  color: #DD7631;
}
