.checkbox-container {
    display: flex;
    gap: 20px;
    margin-top: 16px;
}

.checkbox-container label {
    font-size: 16px;
}

.checkbox-container input[type="radio"] {
    transform: scale(2);
    margin-right: 10px;
}

.checkbox-container input[type="radio"]:checked {
    accent-color: #191627;
}