.campo-texto {
    margin-bottom: 16px;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.campo-texto input {
    background-color: white;
    width: 100%;
    font-size: 20px;
    padding: 16px;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
}