.lista-suspensa {
    margin-bottom: 16px;
}	

.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.lista-suspensa select {
    background-color: white;
    width: 100%;
    font-size: 20px;
    padding: 16px;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
}